.hero {
  background-image: url(images/main.jpg);
  background-size: cover;
  background-position: center;
  min-height:30vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 20px;

  .hero-content {

   p {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 0;
    text-transform: uppercase;
    }   

  h1 {
    font-size:1.5rem;
    font-weight: 300;
    line-height:1.1;
    text-transform:uppercase;
  }
}


  .btn {
    display:inline-block;
    background-color: $framboise;
    margin-top: 30px;
    padding:10px 20px;
    text-transform:none;
    border-radius: 5px;
    text-decoration: none;
    }
}