.quality {
    padding:20px;
    width:100%;
    text-align: center;

    .item {
        width:100%;
        margin-bottom: 60px;

        img {
            display: block; 
            width: 100px;
            margin:0 auto;
        }

        h1 {
            width:100%;
            font-size: 1.5rem;
            font-weight:900;
            color:#333;
            margin: 20px 0 10px 0;
            text-transform:uppercase;
        }

        p {
            width:100%;
            color: $font-color;
            font-size: 0.9rem;
            line-height: 1.4;
            max-width: 350px;
            margin: 0 auto;
        }
    }
}