@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.quality {
    padding:20px;
    width:100%;
    text-align: center;

    .container {
        @include flex-center(column);
        @include desktop {
            @include flex-center(row,space-between,flex-start,20px)
        }
    }

    .item {
        @include desktop{
            margin-bottom: 0;
            flex: 1;
        }

        img {       
        width: 100px;
        margin:0 auto;
        }
    }

        h1 {
            @include section-title;
            color:#333;
        }
}