@use '../abstracts/variables' as *;

header {
  text-align: center;
  padding: 20px 0;

  .logo {
  font-size: 2.2rem;
  font-weight:bold;
  color:$footer-color;
  margin-bottom: 10px;

  span {
    color: $framboise;
  }
}

  nav {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items:center;
      flex-wrap:wrap;
      gap: 10px;

      li a {
        text-decoration: none;
        color: $font-color;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }
}