@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    line-height: 1.6;
    color: $font-color;
    background-color: $white;
}

h1, h2, h3 {
    margin: 0;
}

img {
    max-width: 100%; 
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.button-base{
    @include button-base;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @include desktop {
        max-width: 1200px;
    }
}